.container {
  display: flex;
  min-height: 100vh;
  background-color: var(--background-light);
}

.main {
  flex: 1;
  margin-left: 256px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
  }
}


